[submodule "external/cpp/tiny-process-library"]
	path = external/cpp/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
[submodule "external/python/Qwen3-TTS-streaming"]
	path = external/python/Qwen3-TTS-streaming
	url = https://github.com/NewYaroslav/Qwen3-TTS-streaming.git
[submodule "external/cpp/nlohmann-json"]
	path = external/cpp/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "external/python/faster-qwen3-tts"]
	path = external/python/faster-qwen3-tts
	url = https://github.com/LimiNode/faster-qwen3-tts.git
[submodule "external/cpp/qwentts.cpp"]
	path = external/cpp/qwentts.cpp
	url = https://github.com/LimiNode/qwentts.cpp.git
